@import "_font-face.styl"
@import "_vars.styl"

// all
*
	box-sizing border-box
	&:before, &:after
		box-sizing border-box

// input required valid/invalid
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color red
body input:required:valid,
body textarea:required:valid
	color #666

html, body
	height 100%

body
	font-size 16px
	min-width 320px
	position relative
	line-height 1.65
	font-family $default-font
	overflow-x hidden
	margin 0

img
	display block
	max-width 100%
	height auto

ul 
	margin 0
	padding 0

li 
	list-style-type none

h1,h2,h3,
h4,h5,h6 
	font-weight $default-weight
	margin 0
	padding 0
	
p 
	margin 0
	padding 0

a
	transition .2s color ease-in


// CUSTOM CSS

.preloader
	height 100%
	width 100%
	background-color #fff
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	z-index 9999
	transition all .3s ease 
	opacity 1
	perspective-origin 20% 50%
	&-spinner 
		width 80px
		height 80px
		border 2px solid #333 
		border-top 2px solid orange
		border-radius 50%
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		animation spin 1s infinite linear
	&-icon
		background url(../img/favicon/favicon.png)
		background-size cover 
		width 60px
		height 60px
		position absolute 
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		animation ico 5s infinite linear 
		transform-style preserve-3d

.fade
	opacity 0

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes ico {

	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}

}


@import "_media.styl" // Always at the end
